################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaskManager.API/obj
/TaskManager.API/bin/Debug
